/*.hh {
    padding-top: 30px;
    float: right;
    box-align: left;
    
 }

 .logo {
    width: 200px;
    margin-left: 20px;
    padding: 20px;
 }

 .contn { 
    width: 100%;
    background-color: red;
    height: 200px;
 }
.lange {
   float: right;
    margin-right: 60px; 
 }
 

 }

 

  

 .jamb {
    width: 100%;
    background-color: gray;
 }

 .fr {
    width: 30px;
 }

 */